body{
    text-align: center;
    font-family: 'Lexend', Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.05em;
    background-color: #2E3440;;
    color: #ECEFF4;
    margin: 0;
    padding: 0;
}

h1, h3 {
    margin: 1rem 0;
    font-weight: 800;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #4DD0E1;  
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #ffc71f; 
}
.button{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
     gap: 2rem; 
     margin-top: 2rem;

}

.btn{
    height: 210px;
    width: 210px;
    border-radius: 20%;
    border: 10px solid rgb(201, 205, 208);
    margin: 1.3rem;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.red{
    background-color: #E63946;
}

.yellow{
    background-color: #FFD166;
     color: #000;
}

.green{
    background-color: #06D6A0;
}

.purple{
    background-color: #8338EC;
}

.flash{
    background-color: aliceblue;
}

.userflash{
    background-color: gray;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 200px; 
    width: 300px;
    background-color: #3B4252; 
    border:2px,solid,black; 
    color: #ECEFF4;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
     z-index: 9999; 

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

.wrong{
    background-color: #f3485c;
    color: #FFF;
}


